{% load xadmin_tags %}
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml">

{% block extrastyle %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "xadmin/img/favicon.ico" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "xadmin/css/style.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "xadmin/css/responsive.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "xadmin/vendor/font-awesome/css/font-awesome.min.css" %}"/>
    <script type="text/javascript" src="{% static "xadmin/js/jquery.min.js" %}"></script>
    <title>常用功能导航</title>
{% endblock %}

{% block body %}
    <div class="header">
        <div class="container">
            <div class="logo">
                <h1><a>常用功能导航</a></h1>
            </div>
        </div>
    </div>

    <div class="portfolio">
        <div class="container">
            <div class="portfolio-part">
                <div class="title-section">
                    <h3></h3>
                </div>
                <div class="portfolio-section">
                    <ul>
                        <li><a href="https://github.com/vip68/xadmin_bugfix" target="_blank">
                            <img src="{% static "xadmin/img/home/git.png" %}" alt="Git项目仓库"/>
                        </a></li>
                        <li><a id="manage" href="" target="_blank">
                            <img src="{% static "xadmin/img/home/manage.png" %}" alt="管理后台"/>
                        </a></li>
                        <li><a href="https://www.cnblogs.com/v88v/" target="_blank">
                            <img src="{% static "xadmin/img/home/blog.png" %}" alt="博客园"/>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="credit-social">
                <div class="credit">
                    <p class="copyright">
                    <b>Github &copy; {{ date }} <a href="https://github.com/vip68/xadmin_bugfix.git" target="_blank">纵世科技</a>.
                        All rights reserved.</b></p>
                </div>
                <div class="social">
                    <ul class="socialmedia">
                        <li><a href="{% static "xadmin/img/home/wechat.jpeg" %}" target="_blank" title="微信二维码"><i
                                class="fa fa-wechat"></i></a></li>
                        <li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=18630195&amp;site=qq&amp;menu=yes"
                               target="_blank" title="技术支持QQ"><i class="fa fa-qq"></i></a></li>
                        <li><a href="https://github.com/vip68" target="_blank" title="GitHub"><i
                                class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function setHref() {
            let host = window.location.protocol + "//" + window.location.host + "/admin/";
            let manage = document.getElementById("manage");
            manage.setAttribute("href", host);
        });

        $(document).ready(function () {
            $(".open1").click(function () {
                $(".nav").slideToggle();
            })
        });

        $(window).resize(function () {
            if ($(window).width() >= 768) {
                $('.nav').css('display', 'block');
            } else {
                $('.nav').css('display', 'none');
            }
        });

    </script>
{% endblock %}

</html>
